* {
    box-sizing: border-box;
    margin: 0px;
}

body { 
    margin: 20px 450px 20px 450px;

    height: 570px;
    width: 350px;
    left: 625px;
    top: 60px;

    border: 1px solid #AACDFF;
    box-sizing: border-box;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}




h2 {
    letter-spacing:-1.6px;
    margin: 20px 48px 40px 48px;
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 15px;
    color: #0068FF;
}

.input__list {
    margin-left: 50px;
    width: 250px;
}

.number__info {
    margin-left: 40px;
}

.number__info__boxes{
    display: flex;
    justify-content: row;


}

.number__info__boxes1{
    display: flex;
    margin: 4px;
    width: 60px;
    height: 20px;
    border-radius: 3px;

    border: 1px solid gray;
    box-sizing: border-box;
    
    display: flex;
    justify-content: space-between;

}

.token__making{
    text-align: end;
    margin: 10px 45px 10px 0px;

}

.token__making__string{
    color: #3b84f0;
    font-size: 12px;
}

.token__verified {
    text-align: end;
    margin: 10px 45px 10px 0px;

}

.box_downbelow {
}

.region__info__select {
    justify-content: center;
    margin: 10px 45px 10px 0px;
}

.signup__button {
    margin-top: 8px;
    width: 350px;
    height: 65px;
    left: 725px;
    top: 875px;

    background: #FFFFFF;
    border: 1px solid #3b84f0;
    box-sizing: border-box;
    border-radius: 10px;

    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    
    text-align: center;
    
    color: #0068FF;
}



.gender__info {
    
}

